@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Creepster&family=Itim&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rammetto+One&family=Rubik+Wet+Paint&display=swap');
body {
    background-color: black;
    text-align: center;
    padding-right: 100px;
    padding-left: 85px;
}

header ul {
    list-style: none;
    color: whitesmoke;
    display: flex;
    column-gap: 20px;
    font-size: 11px;
    padding-top: 20px;
    padding-right: 0px;
}
header ul :hover{
    color: #bfc500;
    cursor: pointer;
}
.container-website{
    width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
}

.container {
    color: whitesmoke;
    text-align: left;
    /* padding-left: 85px; */
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 16px;
} 
.bye {
   width: 200px;
}

.hamza {
padding-right: 0px;
justify-content: space-between;
    
}

.new-web {
  padding-bottom: 15px;
 
}
.server {
    width: 170px;
}
section h2 {
   
    text-align: start;
    font-size: 30px;
    /* padding-left: 85px; */
    color: #bfc500;
}
section h3 {
    color: whitesmoke;
    text-align: start;
    font-size: 20px;
    /* padding-left: 85px;  */
}
section p {
    color: whitesmoke;
    text-align: left;
    /* padding-left: 85px; */
    font-family: sans-serif;
}
.container .wats{
    color: gray;
    padding-left: 0px;
}
section .bord {
    font-size: 12px;
    padding-right: 00px;
}
section .water {
    justify-content: space-between;
    display: flex;
    padding-left: 0px;
}
.box {
    padding-left: 0px;
}
.karachi {
    background-color: #bfc500;
    /* width: auto; */
    border-radius: 10px;
    /* height: 100px; */
    /* text-align: left; */
    padding-top: 30px;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 120px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;

    
}
.mystery {
    width: 300px;
    padding-right: 0px;
}
.button {
    color: #bfc500;
    background-color: black;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}
.button:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.zero , p{
    color: whitesmoke;
    text-align: left;
    /* padding-left: 85px; */
    font-family: sans-serif;
}
.power{
    color: #bfc500;
}
.blue {
    font-size: 15px;
}
.data {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.put {
    padding-right: 100px;
}
.sec3 .bio {
   color: whitesmoke ;
   font-family: sans-serif;
}

.sec3 {
    display: block;
    justify-content: space-between;
}
.red {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 60px;
}
.green {
    display: flex;
}
.red p {
    font-size: 9px;
    padding-right: 0px;
    color: gray;
}
.biology {
    padding-left: 0px;
    width: 100px;
    height: 120px ;
}
.intel {
    color: whitesmoke;
    font-family: sans-serif;

}
.para {
    font-family: sans-serif;
    font-size: 16px;
}
.sec4 {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-top: 20px;
}
.car {
    color: whitesmoke;
    font-family: sans-serif;
}
.pen {
    color: #bfc500;
    text-align: left;
    font-size: 27px;
    /* padding-left: 85px; */
    display: block;
    
}
.apple {
    font-size: 14px;
    padding-top: 27px;
}
.pak {
    display: flex;
    column-gap: 50px;
}
.last-picture {
    background-color: #bfc500;
    width: 200px;
    height: 300px;
    padding-right: 100px;
}
.main-pen {
    display: flex;
    justify-content: space-between;
}


.known {
    color: blue;
    background-color: aqua;
    /* width: 40%; */
    justify-content: space-between;
    text-shadow: 20px grey;
    border: 2px solid red;
    border-radius: 20px;
}
.my-web {
    width: 280px;
    padding-left: 0px;
    padding-right: px;
}
.toilet {
    width: 162px;
}
@media screen and (min-width: 300px)and (max-width:1100px){
    body {
    background-color: black;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    }
    .biology {
        height: 100px;
        width: 30;
    }
    section .water {
        /* justify-content: space-between; */
        display: flex;
        padding-right: 0px;
    }
    .new-web {
        padding-bottom: 15px;
       
      }
      .main-pen {
        padding-top: 40px;
      }
    .bye {
        width: 80px;
     }
     .ul-li {
        font-size: 7px;
        padding-right: 0px;
     }
     .server {
        width: 50px;
        display: flex;
        padding-right: 0px;
    }
    .mystery {
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;

    }
    
/*      
    .lets {
        width: 700px;
        
    } */
    .my-web {
        width: 80px;
        padding-left: 0px;
        padding-top: 4px;
       
    }
    .navi {
        font-size: 10px;
        padding-right: 100px;
    }
    .container-website{
        width: 100%;
        padding-right: 0px
    }
    .box {
        font-size: 10px;
        padding-right: 100px;
    }
    .bord{
        font-size: 4px;
        padding-left: 0px;
    }
    
    .toilet {
        width: 72px;
        padding-top: 10px;
      
    }
    .pak {
        font-size: 14px;
        padding-top: 10px;
    }
    .apple {
        font-size: 16px;
        padding-top: 0px;
    }
    
    header ul {
        list-style: none;
    color: whitesmoke;
    /* display: flex; */
    column-gap: 10px;
    font-size: 10px;
    /* padding-top: 0px;
    padding-right: 0px; */
    }

    .container {
        color: whitesmoke;
        text-align: left;
        /* padding-left: 85px; */
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 8px;
    }
    .hamza {
        padding-top: 30px;
        justify-content: space-between;
        display: flex;
            
        } 
.new-web {
 padding-bottom: 0px;
/* justify-content: space-between; */
}
section h2 {
   
         text-align: start;
         font-size: 12px;
         /* padding-left: 85px; */
         color: #bfc500;
} 
section h3 {
        color: whitesmoke;
        text-align: start;
        font-size: 11px;
}
section .bord {
    font-size: 11px;
    padding-right: 0px;
}

 
.karachi {
    background-color: #bfc500;
    /* width: 300px; */
    border-radius: 10px;
    /* height: 75PX; */
    text-align: left;
    padding-top: 11px;
    padding-bottom: 11PX;
    padding-left: 0px;
    padding-right: 0px;
    font-family: sans-serif;
    font-size: 11px;
    display: flex;
    /* justify-content: space-between; */
}
.karachi h1 {
    font-size: 14px;
    padding-left: 0px;
    padding-top: 0px;
}
.button {
    color: #bfc500;
    background-color: black;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    font-weight: 300;
    font-size: 11px;
}
.button:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: 400;
    font-size: 11px;
}
.blue {
    font-size: 11px;
}
.data {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}
.put {
    padding-right: 0px;
}
.put {
    padding-right: 0px;
}
.red {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}
.red p {
    font-size: 11px;
    padding-right: 0px;
    color: gray;
}
.car {
    font-size: 17px;
}
.car2 {
    font-size: 11px;
}
.biology {
    padding-right: 60px;
    width: 20px;
    height: 30px;
    
}

.para {
    font-family: sans-serif;
    font-size: 11px;
}
.sec4 {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-top: 20px;
}
.pen {
    color: #bfc500;
    text-align: left;
    font-size: 11px;
    /* padding-left: 85px; */
    display: block;
    
}
.apple {
    font-size: 11px;
    padding-top: 10px;
}
.pak {
    display: flex;
    padding-top: 0px;
}
.pak h6 {
    padding-top: 1px;
}
.last-picture {
    background-color: #bfc500;
    width: 10px;
    height: 100px;
    /* padding-right: 100px; */
    /* padding-left: 40px; */
    padding-top: 0px;
    padding-bottom: 0px;

}
.known {
    color: blue;
    background-color: aqua;
    /* width: 40%; */
    justify-content: space-between;
    text-shadow: 20px grey;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 17px;
}





}




